<div class="ui-fluid">
  <div class="ui-g" id='main'>
    <div class="ui-g-12 ui-sm-12 buttons" >
      <button type="button" *ngIf="controlAuth.add" label="添加" pButton icon="fa-plus" class="pc-button-small" (click) = 'addProject()'></button>
    </div>
    <div class="body-content">
      <div class="search no-padding">
        <div class="ui-sm-12 ui-md-2 pc-input ph-input">
          <input type="text" [(ngModel)] = 'searchValue' id="input" pInputText placeholder="请输入工程名称、电话号码">
        </div>
        <div class="ui-sm-12">
          <button type="button" label="查找" pButton icon="fa-search" class="pc-button-small" (click)="search()"></button>
        </div>
      </div>
      <div class="card" [ngStyle]="flowStyle">
        <div class="table-autoFlow-x">
          <p-dataTable [value]="projects" dataKey="projectId" [(selection)]="selectedProject"  styleClass = 'minWidth800' [rowHover] = 'true'>
            <p-column field="projectName" header="工程名称"></p-column>
            <p-column field="workCompanyName" header="施工单位" headerStyleClass="scale20">></p-column>
            <p-column field="telephone" header="工地电话" headerStyleClass="width100"></p-column>
            <p-column field="status" header="状态" headerStyleClass="width100">
              <ng-template let-project="rowData" pTemplate="body">
                <span *ngIf = 'project.status == 0' class="color-red">施工中</span>
                <span *ngIf = 'project.status == 1' class="color-gray">停工</span>
                <span *ngIf = 'project.status == 2' class="color-green">竣工</span>
              </ng-template>
            </p-column>
            <p-column header="操作" headerStyleClass="width60" bodyStyleClass="operation">
              <ng-template let-project="rowData" let-i="rowIndex" pTemplate="body">
                <a *ngIf="controlAuth.edit" href="javascript:void(0)" (click)="operations('projectedit',project.projectId)">编辑</a>
              </ng-template>
            </p-column>
          </p-dataTable >
        </div>
      </div>
      <div class="paginator">
        <p-paginator [rows]="pageSize" [totalRecords]="total" [rowsPerPageOptions]="options" [currentPage]="pageNumber" styleClass="paginator-border" (onPageChange)="pageChange($event)"></p-paginator>
        <div *ngIf="!isPh" class="total-value">共 {{total}} 条</div>
      </div>
    </div>
  </div>
</div>

