<div class="ui-fluid">
  <div class="ui-g" id='main'>
    <div class="body-content">
      <div class="search no-padding">
        <div class="ui-sm-12 pc-input ph-input">
          <input type="text" [(ngModel)] = 'searchValue' id="input" pInputText placeholder="版本名称">
        </div>
        <div class="ui-sm-12">
          <button type="button" label="查找" pButton icon="fa-search" class="pc-button-small" (click)="search()"></button>
        </div>
      </div>
      <div class="card" [ngStyle]="flowStyle">
        <div class="table-autoFlow-x">
          <p-dataTable [value]="versions" styleClass = 'minWidth800' [rowHover] = 'true'>
            <p-column field="softwareName" header="版本名称"></p-column>
            <p-column field="softwareVersion" header="软件版本"></p-column>
            <p-column field="softwareVersionEx" header="扩展版本"></p-column>
            <p-column field="crc" header="CRC校验"></p-column>
            <p-column field="softwareSize" header="软件大小"></p-column>
            <p-column field="insertTime" header="版本上传时间"></p-column>
            <p-column header="操作" headerStyleClass="width60" bodyStyleClass="operation">
              <ng-template let-version="rowData" let-i="rowIndex" pTemplate="body">
                <a  href="javascript:void(0)" (click)="chooseVersion(version)">选择</a>
              </ng-template>
            </p-column>
          </p-dataTable >
        </div>
      </div>
      <div class="paginator">
        <p-paginator [rows]="pageSize" [totalRecords]="total" [currentPage]="pageNumber" [rowsPerPageOptions]="options" styleClass="paginator-border" (onPageChange)="pageChange($event)"></p-paginator>
        <div *ngIf="!isPh" class="total-value">共 {{total}} 条</div>
      </div>
    </div>
  </div>
</div>

