<div class="ui-fluid">
    <div class='ui-g card box-shadow-style'>
      <form [formGroup]="roleform" id='form' class="ui-md-12 ui-sm-12 no-padding">
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <div class="ui-sm-12 pc-form-label form-label">
            角色名称
          </div>
          <div class="ui-md-4 ui-sm-12 form-input">
            <input input-noSpace pInputText input-noSpace type="text"  formControlName="roleName" placeholder="必填"
                   [ngClass]="{'form-input-error': formErrors.roleName}"/>
            <div class="form-error-title" *ngIf="formErrors.roleName">
              {{formErrors.roleName}}
            </div>
          </div>
        </div>
        <div class="uui-g-12 ui-md-12 ui-sm-12 form-item">
          <div class="ui-sm-12 pc-form-label form-label">
            角色描述
          </div>
          <div class="ui-md-4 ui-sm-12 form-input">
            <textarea  input-noSpace [rows]="3" [cols]="30" pInputTextarea  formControlName="description"></textarea>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <button pButton type="submit" *ngIf="formAuth.save" [disabled]="roleform.invalid" class="pc-button-small" label="提交"></button>
        </div>
      </form>
  </div>
</div>
