<div class="ui-fluid">
    <div class='ui-g card box-shadow-style'>
      <form [formGroup]="passwordForm" (ngSubmit)="modify()" id="form" class="ui-md-12 ui-sm-12 no-padding" novalidate>
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <div class="ui-sm-12 pc-form-label form-label">
            原密码
          </div>
          <div class="ui-md-4 ui-sm-12 form-input">
            <input pInputText type="password"  formControlName="oldPassword" placeholder="必填"
                   [ngClass]="{'form-input-error': formErrors.oldPassword}"/>
            <div class="form-error-title" *ngIf="formErrors.oldPassword">
              {{ formErrors.oldPassword }}
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <div class="ui-sm-12 pc-form-label form-label">
            新密码
          </div>
          <div class="ui-md-4 ui-sm-12 form-input">
            <input pInputText type="password" validateEqual="repeatPassword" [reverse]="true" formControlName="newPassword" placeholder="必填"
                   [ngClass]="{'form-input-error': formErrors.newPassword}"/>
            <div class="form-error-title" *ngIf="formErrors.newPassword">
              {{ formErrors.newPassword }}
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <div class="ui-sm-12 pc-form-label form-label">
            确认密码
          </div>
          <div class="ui-md-4 ui-sm-12 form-input">
            <input pInputText type="password" validateEqual="newPassword" formControlName="repeatPassword" placeholder="必填"
                   [ngClass]="{'form-input-error': formErrors.repeatPassword}"/>
            <div class="form-error-title" *ngIf="formErrors.repeatPassword">
              {{ formErrors.repeatPassword }}
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-md-12 ui-sm-12 form-item">
          <button pButton type="submit" *ngIf="formAuth.save" [disabled]="passwordForm.invalid" class="pc-button-small" label="提交"></button>
        </div>
      </form>
    </div>
</div>
